{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
  <div class="content container-fluid">

    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Class</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'classe_list' %}">Classes</a></li>
            <li class="breadcrumb-item active">Add Class</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nom de la Classe <span class="text-danger">*</span></label>
                    <input type="text" name="name" class="form-control" placeholder="ex: Terminale A, L1 Informatique" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Niveau</label>
                    <input type="text" name="level" class="form-control" placeholder="ex: L1, L2, M1">
                  </div>
                </div>
              </div>
              <div class="text-right">
                <a href="{% url 'classe_list' %}" class="btn btn-secondary mr-2">Annuler</a>
                <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
